/*removes default margin and padding and defaults border-box*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body tag with a background image set*/
body {
    background-image: url("../assets/background.png");
    background-color: rgba(38, 38, 38, .95);
    display: flex;
    flex-direction: column;
}

/*wapper to keep elements within its bounds*/
#wrapper {
    margin: 0 auto;
    width: 80%;
    background-color: black;
}

/*used in head of document black styling as a fail safe incase of gaps between elements*/
header {
    background-color: black;
}

/*resizing of banner logo at the top of pages with margin, floated left to keep on one side of the screen*/
#banner {
    height: 65px;
    margin-top: 30px;
    margin-left: 10px;
    float: left;
}

/*top navigation styling, inline used to keep elements on one line*/
#topnav {
    border: 2px solid black;
    width: 100%;
    background: rgba(38, 38, 38, .95);
    display: inline-flex;
}

/*styles images navigation within topnav*/
#topnav a 
{
    border: 2px solid black;
    border-radius: 50%;
    display: inline-block;
    padding: 10px;
    box-sizing: border-box;
    margin: 10px;
    background-color: white;

}

/*on hover used to display a different colour on mouse over*/
#topnav a:hover 
{
    background-color: gray;
}

/*styling of divs containing slides*/
#slider {
    border: 2px solid black;
    width: 100%;
    display: inline-block;
    background-color: #2A2A2A;
}

/*styling of slides*/
.Slides {
    margin: 0 auto;
    width: 100%;
}

/*styling of deal image, indicated to be on the left side*/
#deal {
    float:left
}

/*sizes image inside of deal div*/
#deal img {
    width: 100%;
    margin:auto;
}

/*styling of slides*/
.offerSlides {
    display: none;
    width:100%;
    margin:auto;
}

/*container of slides indicated to float to the right side*/
#offerslider {
float:right;
}

/*styling of left button to move to its position on the slides*/
.left {
    transform: translate(0%,-800%);
}

/*styling of right button to move to its position on the slides*/
.right {
    transform: translate(3920%,-800%)
}

/*styling of bottom navigation*/
#bottomnav {
    border: 2px solid black;
    width: 100%;
    background: rgba(38, 38, 38, .95);
    display: inline-flex;
}

/*styling of navigation in bottomnav*/
#bottomnav a {
    border: 2px solid black;
    border-radius: 50%;
    display: inline-block;
    padding: 10px;
    box-sizing: border-box;
    margin: 10px;
    padding: 30px;
    background-color: white;
}

/*onhover styling of bottomnav links*/
#bottomnav a:hover {
    background-color: gray;
}

/*styling of images in bottomnav*/
#bottomnav img {
    display:block
}

/*styling of div containing mailing list info, margin auto to center*/
#mailinglist {
    background-color:white;
    text-align:center;
    padding: 10px;
    margin:auto;
}

/*styling mailing list submission button, margin auto to center*/
#mailingbutton {
    display: block;
    margin: auto;
    width:30%
}

/*styling mailing list submission button image, margin auto to center*/
#mailingbutton img {
    display: block;
    margin: auto;
}

/*on hover of mailing button, changes colour when the user mouses over*/
#mailingbutton:hover {
    background-color: gray;
}

/*styling of socialmedia div*/
#social {
    border: 2px solid black;
    width: 100%;
    background: rgba(38, 38, 38, .95);
    display: inline-flex;
}

/*styling of links within soicalmedia div, inline to keep them on the same line, radius to round them*/
#social a {
    border: 2px solid black;
    border-radius: 50%;
    display: inline-block;
    padding: 10px;
    box-sizing: border-box;
    margin: 10px;
    background-color: white;
}

/*change of colour when user hovers over social links*/
#social a:hover {
    background-color: gray;
}

/*h1 tag with font styling to match look of site*/
h1 {
    color: navy;
    font-size: 240%;
    font-family: "Lato",Tahoma,sans-serif;
    margin: 3px;
}

/*h2 tag with font styling to match look of site*/
h2 {
    font-family: "Lato",Tahoma,sans-serif;
    font-size: 240%;
    left: 10px;
    bottom: 20px;
    color: white;
    text-align: center;
    display: inline;
}
/*p tag styled inline so multiple can be used and still be displayed on the same line*/
p {
    color: white;
    display: inline;
    font-size:120%;
}

/*styling of welcome text, text align to center and margin*/
#welcome {
    text-align: center;
    margin:auto
}   

/*centers ul tags*/
ul {
    list-style: none;
    margin: 0 auto;
    padding: 0px;
    text-align: center;
}

/*centers mailing list div*/
#email {
    text-align:center;
    margin:5%
}

/*pads mailing list form*/
#email form {
    padding:10px;
}

/*styles products, sets style of the list of product to none*/
.products {
    list-style: none;
    padding: 0px;
}

/*inline-flex used to make products display in a line*/
.products li {
    display: inline-flex;
    margin: 5px;
}

/*class containing shopping cart displayed as none so that it is hidden until the user toggles it otherwise*/
.overlay {
    
    display: none;
    pointer-events: none;
}

/*class used to style cart button*/
.myBtn {
    border: 2px solid black;
    border-radius: 50%;
    display: inline-block;
    padding: 10px;
    box-sizing: border-box;
    margin: 10px;
    background-color: white;
}
/*class used to style cart button on hover*/
.myBtn:hover {

    background-color: gray;
}

/*contains products within border*/
#productscontainer {
    border: 2px solid black;
    width: 100%;
    background: black;
    display: inline-flex;
}

/*styles product images*/
#productscontainer img {
    height: 200px;
    width: 200px;
    background:white;
}

/*styles items*/
.item {
    display: block;
    text-decoration: none;
    width: 250px;
}

/*styles item images*/
.item img {
    border: 1px solid #333;
}

/*styles item text*/
.item p {
    margin: 0;
    font-weight: bold;
    text-align: center;
    color: #c3c3c3;
}

/*styles cart*/
.cart {
    width: 100%;
    background: white;
    padding: 0px 10px;
    pointer-events: all;
    margin: auto;
    margin-right: 10%;
}

/*styles cart total*/
.total {
    margin: 0;
    text-align: left;
    padding-right: 20px;
    background-color: rgba(38, 38, 38, 1);
    width: 700px
}

/*styles sticky cart on page, rgba colouring to add transparency as not to cover products*/
.sticky {
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
    background-color: rgba(38, 38, 38, .95);
    font-size: 20px;
    width: 80%;
    margin: auto;
}

/*div that holds demo video*/
#demoholder {
    border: 2px solid black;
    background: rgba(38, 38, 38, .95);
    text-align:center;
}